<!-- views/index.ejs -->
<!doctype html>
<html>
    <head>
        <title>There</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/application.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <script>
        $(window).scroll(function() {    
           var scroll = $(window).scrollTop();
       
           if (scroll >= 10) {
               $(".navbar-main").addClass("navbar-scrolled");
           }else {
               $(".navbar-main").removeClass("navbar-scrolled");
           }
        });
    </script>
    <body >
        <% include components/_navbar.ejs %>
        <div class="row margin-reset">
            <div class="hero-container">
            </div>
        </div>
        <style>
            .modal-container {
                   position: relative;
            }
            .modal-container .modal, .modal-container .modal-backdrop {
                position: absolute;

            }

        </style>
        
        <div class="row margin-reset linear-gradient_tb_green-pink">
            <div class="main-container">
                <div class="container">
                    <div class="col-md-6">
                        <div id="example">

                        </div>
                        <p>testing</p>
                        <p>testing</p>
                        <p>testing</p>
                    </div>
                    <div class="col-md-6">
                        <p>testing</p>
                        <p>testing</p>
                        <p>testing</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-reset linear-gradient_tb_green-pink">
            <div class="main-container">
                <div class="container">
                    <div class="col-md-6">
                        <p>testing</p>
                        <p>testing</p>
                        <p>testing</p>
                    </div>
                    <div class="col-md-6">
                        <p>testing</p>
                        <p>testing</p>
                        <p>testing</p>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="container">-->
            <!--<div class="jumbotron text-center">-->
                <!--<h1><span class="fa fa-lock"></span> There authenication</h1>-->
                <!--<p>Login or Register with:</p>-->
                <!--<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>-->
                <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
            <!--</div>-->
        <!--</div>-->
    </body>

    <% if(isDevelopment()) { %>
        <script src="http://localhost:8080/js/bundle.js"></script>
    <% } %>
</html>
